body {
    color: #40514E;
    margin: 0px;
    font-family: Pattaya, sans-serif;
    line-height: 2;
}

h1 {
    margin-top: 0px;
    width: 50%;
    margin: 0 auto 0 auto;
    font-size: 5rem;
    padding-top: 10px;
    color: #184d47;
}

hr {
    border: dotted darkgray 6px;
    width: 6%;
    border-bottom: none;
    margin: 100px auto;
}

.web {
    font-size: 2rem;
}

.profile {
    text-align: center;
}

h2 {
    text-align: center;
    color: #184d47;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #184d47;
    font-size: 1.75rem;
}

.d {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: auto 200px auto 200px;
    line-height: 2;
}

.top-container {
    text-align: center;
    background-color: #ccf2f4;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px auto;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 200px;
}

.bottom-cloud {
    position: absolute;
    left: 250;
}

.contact-me {
    text-align: center;
}

.contact-msg {
    width: 30%;
    margin: auto auto 40px auto;
}

.bottom-container {
    text-align: center;
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a {
    color: #09595c;
    margin: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px 0;
}

.art {
    width: 30%;
    float: left;
    margin-right: 20px;
}

.guitar {
    width: 30%;
    float: right;
    margin-left: 20px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2cb4ad);
    text-decoration: none;
}